ViewController/classes/xxatcust/oracle/apps/sudoku/view/V93000 C&Q 3.0 - XML File Schema.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="V93000-Quote">
    <xs:complexType>
      <xs:all>
        <xs:element name="qheader" minOccurs="0">
          <xs:complexType>
            <xs:all>
              <xs:element type="xs:string" name="qtitle" minOccurs="0"/>
              <xs:element name="customer"  minOccurs="0">
                <xs:complexType>
                  <xs:all>
                    <xs:element type="xs:string" name="globalcmpy"  minOccurs="0"/>
                    <xs:element type="xs:string" name="cname"  minOccurs="0"/>
                    <xs:element type="xs:float" name="cnumber"  minOccurs="0"/>
                    <xs:element type="xs:string" name="ccontact"  minOccurs="0"/>
                    <xs:element type="xs:string" name="cemail"  minOccurs="0"/>
                    <xs:element type="xs:string" name="cphone"  minOccurs="0"/>
                    <xs:element type="xs:string" name="caddr1"  minOccurs="0"/>
                    <xs:element type="xs:string" name="caddr2"  minOccurs="0"/>
                  </xs:all>
                </xs:complexType>
              </xs:element>
              <xs:element name="contract" minOccurs="0">
                <xs:complexType>
                  <xs:all>
                    <xs:element type="xs:string" name="conid" minOccurs="0"/>
                  </xs:all>
                </xs:complexType>
              </xs:element>
              <xs:element name="deal" minOccurs="0">
                <xs:complexType>
                  <xs:all>
                    <xs:element type="xs:string" name="dealid" minOccurs="0" />
                    <xs:element type="xs:string" name="salesch" minOccurs="0"/>
                    <xs:element type="xs:string" name="status" minOccurs="0"/>
                    <xs:element type="xs:float" name="quoteid" minOccurs="0"/>
                    <xs:element type="xs:float" name="so-number" minOccurs="0"/>
                    <xs:element type="xs:string" name="sysid" minOccurs="0"/>
                    <xs:element type="xs:string" name="currency" minOccurs="0"/>
                    <xs:element type="xs:string" name="ddiscount" minOccurs="0"/>
                    <xs:element type="xs:string" name="dincoterm" minOccurs="0"/>
                    <xs:element type="xs:string" name="dpayterm" minOccurs="0"/>
                    <xs:element type="xs:string" name="dwtyterm" minOccurs="0"/>
                    <xs:element type="xs:date" name="qdate" minOccurs="0"/>
                    <xs:element type="xs:date" name="expdate" minOccurs="0"/>
                    <xs:element type="xs:date" name="odate" minOccurs="0"/>
					 <xs:element type="xs:string" name="dordertype" minOccurs="0"/>
                  </xs:all>
                </xs:complexType>
              </xs:element>
              <xs:element name="salesteam" minOccurs="0">
                <xs:complexType>
                  <xs:all>
                    <xs:element type="xs:string" name="ou" minOccurs="0"/>
                    <xs:element type="xs:string" name="srespo" minOccurs="0"/>
                    <xs:element type="xs:string" name="sphone" minOccurs="0"/>
                    <xs:element type="xs:string" name="semail" minOccurs="0"/>
                    <xs:element type="xs:string" name="csrrespo" minOccurs="0"/>
                    <xs:element type="xs:string" name="csrphone" minOccurs="0"/>
                    <xs:element type="xs:string" name="csremail" minOccurs="0"/>                   
                  </xs:all>
                </xs:complexType>
              </xs:element>
            </xs:all>
          </xs:complexType>
        </xs:element>
        <xs:element name="config" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="modelbom" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType mixed="true">
                  <xs:all>
                    <xs:element type="xs:string" name="cid" minOccurs="0"/>
                    <xs:element type="xs:string" name="pricelist" minOccurs="0"/>
                    <xs:element name="class" minOccurs="0">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:string">
                            <xs:attribute type="xs:string" name="id" use="optional" />
                            <xs:attribute type="xs:string" name="compatibility" use="optional"/>
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="ruleset" minOccurs="0">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:string">
                            <xs:attribute type="xs:string" name="id" use="optional"/>
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="infra" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="item" maxOccurs="unbounded" minOccurs="0">
                            <xs:complexType>
                              <xs:simpleContent>
                                <xs:extension base="xs:string">
                                  <xs:attribute type="xs:int" name="qty" use="optional"/>
                                </xs:extension>
                              </xs:simpleContent>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="digital" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="item" maxOccurs="unbounded" minOccurs="0">
                            <xs:complexType>
                              <xs:simpleContent>
                                <xs:extension base="xs:string">
                                  <xs:attribute type="xs:int" name="qty" use="optional"/>
                                </xs:extension>
                              </xs:simpleContent>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="dps" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="item" maxOccurs="unbounded" minOccurs="0">
                            <xs:complexType>
                              <xs:simpleContent>
                                <xs:extension base="xs:string">
                                  <xs:attribute type="xs:int" name="qty" use="optional"/>
                                </xs:extension>
                              </xs:simpleContent>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                     <xs:element name="ms" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="item" maxOccurs="unbounded" minOccurs="0">
                            <xs:complexType>
                              <xs:simpleContent>
                                <xs:extension base="xs:string">
                                  <xs:attribute type="xs:int" name="qty" use="optional"/>
                                </xs:extension>
                              </xs:simpleContent>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                     <xs:element name="rf" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="item" maxOccurs="unbounded" minOccurs="0">
                            <xs:complexType>
                              <xs:simpleContent>
                                <xs:extension base="xs:string">
                                  <xs:attribute type="xs:int" name="qty" use="optional"/>
                                </xs:extension>
                              </xs:simpleContent>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="sw-licenses" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="item" maxOccurs="unbounded" minOccurs="0">
                            <xs:complexType>
                              <xs:simpleContent>
                                <xs:extension base="xs:string">
                                  <xs:attribute type="xs:int" name="qty" use="optional"/>
                                </xs:extension>
                              </xs:simpleContent>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="docking" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="item" maxOccurs="unbounded" minOccurs="0">
                            <xs:complexType>
                              <xs:simpleContent>
                                <xs:extension base="xs:string">
                                  <xs:attribute type="xs:int" name="qty" use="optional"/>
                                </xs:extension>
                              </xs:simpleContent>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                     <xs:element name="misc" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="item" maxOccurs="unbounded" minOccurs="0">
                            <xs:complexType>
                              <xs:simpleContent>
                                <xs:extension base="xs:string">
                                  <xs:attribute type="xs:int" name="qty" use="optional"/>
                                </xs:extension>
                              </xs:simpleContent>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                     <xs:element name="cal-diag" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="item" maxOccurs="unbounded" minOccurs="0">
                            <xs:complexType>
                              <xs:simpleContent>
                                <xs:extension base="xs:string">
                                  <xs:attribute type="xs:int" name="qty" use="optional"/>
                                </xs:extension>
                              </xs:simpleContent>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                   <xs:element name="wty-support" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="item" maxOccurs="unbounded" minOccurs="0">
                            <xs:complexType>
                              <xs:simpleContent>
                                <xs:extension base="xs:string">
                                  <xs:attribute type="xs:int" name="qty" use="optional"/>
                                </xs:extension>
                              </xs:simpleContent>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:all>
                  <xs:attribute type="xs:string" name="id" use="optional"/>
                </xs:complexType>
              </xs:element>
              <xs:element name="pmf" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="map" maxOccurs="unbounded" minOccurs="0">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:string">
                            <xs:attribute type="xs:int" name="ref-id" use="optional"/>
                            <xs:attribute type="xs:string" name="card" use="optional"/>
                            <xs:attribute type="xs:string" name="cable" use="optional"/>
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute type="xs:float" name="version"/>
          </xs:complexType>
        </xs:element>
      </xs:all>
    </xs:complexType>
  </xs:element>
</xs:schema>